
body {

    background-image: linear-gradient(to right, #d0dff7 , #b4c0d4);
        /*
    background-color: #d0dff7;
        */
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #111c12;
}

h1 {

    font-size: 45px;
    font-style: oblique;
}

p {
    font-size: 20px;
    text-align: center;
    

}

nav{
    overflow: hidden;   
    position: fixed;
    text-align: center;
    top: 0;
    text-decoration: none;
    background-color: rgb(101, 150, 167);
    width: 100%;
    border: 2px solid #082270;

}

.names {

    font-size: 15px;
    font-style: oblique;
    text-align: right;
}

.navtext {

    float: left;
    color: #063a0a;
    text-align: center;
    padding: 4px 6px;
    text-decoration: none;
    font-size: 18px;

}

.navtext:hover {

    background-color: #ddd;
    color: blue;
}

#main { 
    margin-top: 45px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}


.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left  {
    text-align: left;

}

.border1    {
    border: 3px solid;
    border-color: #082270;
    padding: 10px;

}


.columnsplit2 {
    text-align: left;
    column-count: 2;
    column-fill: balance;
    column-rule: 6px double rgb(156, 9, 41);
    column-gap: 20px;
    column-rule-style: groove;
}

.next {

    float: right;
    margin-top: 50px;
    margin-right: 20px;
    display: block;
    background-color: #7dffd4;
    border: 1px solid  black;
}

.prev {
    float: left;
    margin-top: 50px;
    margin-left: 20px;
    display: block;
    background-color: #7dffd4;
    border:1px solid black;
}

img{

    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
